.container {
  margin: 0 auto;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 10px;
  /* background-image: url("/images/calculator-bg.webp");
  background-size: contain; */
}
.scrollButton {
  position: fixed;
  bottom: 210px;
  right: 50px;
  opacity: 1;
  cursor: pointer;
}

.scrollButton:hover {
  background: #373b43 !important;
  color: #ffa300 !important;
}